#contact.section
  h1 CONTACT US
  p JC&amp;Company has formed a network of FBAR and FATCA specialists to serve the needs of our clients. Our team of dedicated Attorneys and CPAs are up to date on all IRS changes and have completed many successful cases of OVDP, Streamlined, and Quiet Disclosure for our U.S. resident and non-resident clients.
  p Analyze the clients’ cases in terms of OVDP / Streamlined/ Quite Disclosure eligibility
  ul
    li Evaluate the clients’ facts and prepare legal arguments for penalty waiver
    li Assist the clients in the compliance assessment 
    li Help the clients meet the filing requirements on a timely basis
    li Represent the clients before the IRS

  .row
    .col-xs-6
      h3 How JC&amp;Company Can Help You?
      p If you have any more question or wish to learn more about our service, please choose one of the following ways to contact us. Our door is always open!

      ul.locations-list
        li
          h4 Irvine Headquarters
          a(href="#") View Map
          p 10 Corporate Park, Ste. 210, Irvine CA 92606
          p 949-553-1110
        li
          h4 Los Angeles
          a(href="#") View Map
          p 4801 Wilshire Blvd. Ste. 306, Los Angeles, CA 90010
          p 949-553-1110
        li
          h4 Seoul Korea
          a(href="#") View Map
          p OTC B/D 108-14, 5th Fl. Samsung-dong, Gangnam
          p 949-553-1110

      p Stay connected with us through social media, email alerts or webcasts.
      ul.social-list
        li
          i.fa.fa-twitter
        li
          i.fa.fa-facebook
        li
          i.fa.fa-youtube
        li
          i.fa.fa-linkedin

    .col-xs-6
      form.form-horizontal
        .form-group
          label.col-sm-5.control-label Your name
          .col-sm-7
            input.form-control(type="text")

        .form-group
          label.col-sm-5.control-label Email address
          .col-sm-7
            input.form-control(type="text")   

        .form-group
          label.col-sm-5.control-label Your location
          .col-sm-7
            input.form-control(type="text")  

        .form-group
          label.col-sm-5.control-label Contact number
          .col-sm-7
            input.form-control(type="text") 

        .form-group
          label.col-sm-5.control-label Subject
          .col-sm-7
            input.form-control(type="text")                                      

        .col-sm-12
          textarea Type your message here...

        input(type="submit").button.pull-right Submit