#disclosure.section.section-half.hotfix
  .container-fluid.bg-disclosure.section-child
    .container
      .row
        .col-xs-6.content
          h1 Quiet Disclosure
          button.btn.btn-question Question?

        .col-xs-6.content.right
          p Instead of entering the OVDP or Streamlined, you may file or amend previously unreported offshore financial assets past the due dates through "quiet disclosures".
          p.strong As long as you present that there was a reasonable cause for not disclosing your foreign assets on time, then the penalties regarding failure to disclose may be FULLY waived.
          p However, once an IRS examination regarding the validity of "reasonable cause" has been started, then you are no longer eligible for the OVDP, which offers more beneficial penalty structure.
