#fatca.section
  .container-fluid.bg-fatca.section-child
    .container
      .row
        .col-xs-6.content.left
          h1 FATCA
          h2 The Foreign Account Tax Compliance Act
          button.btn.btn-question Question?

        .col-xs-6.content.right
          p The Foreign Account Tax Compliance Act ("FATCA") is a U.S. federal law that targets U.S. taxpayers with foreign financial assets who haven't been complying with the reporting requirements.
          p.strong If you have not been reporting information about your foreign assets, now is the time to comply with your tax duty and avoid civil and even criminal prosecution.

  .container-fluid.bg-split.section-child
    .container
      .row
        .col-xs-6.content.content-text.left
          h3.mb30 Who is subject to FATCA?
          ul.list
            li If you are a U.S. taxpayer who owns foreign financial accounts and the total value exceeds $50,000 at the end of the tax year, then you are required to report information about those assets on Form 8938.
            li There are different thresholds depending on your filing status.
            li Please get in touch with our FATCA specialists!

        .col-xs-6.content.content-text.right
          h3.mb30 Penalties?
          p Failure to file Form 8938 may result in the following penalties:
          ul.list
            li Up to $10,000 for failure to disclose and
            li An additional $10,000 for each 30 days of non-filing after the IRS notice of a Failure to Disclose,
            li Potential maximum penalty of $60,000;
            li Criminal penalties may also apply

          p.small * The taxpayer may also be subject to criminal prosecution.

#testimony.container-fluid.bg-testimony
  .container
    .quote-slider
      .quote.active
        .quote-text Before I talked to JC&amp;Company, I didn&rsquo;t even know what FBAR was. However, after working with JC for past few months, now I am all done with the filing process, and I no longer have to worry about penalties.
        .quote-attr Mr. Rosenberg, CA, USA

      .quote
        .quote-text Since I live outside of the U.S., I first thought I have to visit the country to meet with my attorney. However, I had numerous virtual meetings with JC, day and night, and they were extremely helpful and respectful even with the time difference gap. They truly care about their clients, and they know what they are doing!
        .quote-attr Mr. and Mrs. Choi, Korea

      .quote
        .quote-text I am an anxious and sensitive person, especially when there's a big penalty waiting for me. This wasn't an issue with JC. During the whole process, they were extremely friendly and after personally getting to know them, I was able to really rely on their works. They are true professionals.
        .quote-attr Mr. Sohn, Hong Kong

      .quote-arrow.left(data-direction="back")
      .quote-arrow.right(data-direction="forward")
