#fatca.container-fluid.bg-fatca
  .container  
    .row
      .col-xs-6.content.left
        h1 FATCA
        h2 The Foreign Account Tax Compliance Act
        button.btn Contact Us

      .col-xs-6.content.right
        p The Foreign Account Tax Compliance Act ("FATCA") is a U.S. federal law that targets U.S. taxpayers with foreign financial assets who haven't been complying with the reporting requirements. 
        p.strong If you have not been reporting information about your foreign assets, now is the time to comply with your tax duty and avoid civil and even criminal prosecution.    