#fbar.section
  .row
    .col-xs-6
      h1 FBAR
      h2 Report of Foreign Bank and Financial Accounts
      button.btn Contact Us

    .col-xs-6
      p FBAR, or Report of Foreign Bank and Financial Accounts, is the name of a form that is used to disclose foreign financial accounts to the IRS. 
      p It must be filed electronically through FinCEN’s BSA E-Filing System by June 30th of every year.
      p Proper preparation is key to the FBAR filing because penalties associated with failure to comply with the reporting requirements can be significant.

  .row
    .col-xs-6
      h2 Who Must File an FBAR?
      p You must file an FBAR if you meet BOTH of the following criteria:
      ul
        li You are a U.S. taxpayer who has an ownership or signature authority over one or more foreign financial accounts
        li The total value of all offshore financial accounts exceed $10,000 at any time during the calendar year.

    .col-xs-6
      h2 Why should I disclose?
      p Failure to file an FBAR may result in one of the following three penalties:
      ul
        li Negligent violation: maximum of $500 per violation.
        li Non-willful violation: maximum of $10,000 perviolation.
        li Willful violation: the greater of $100,000 or 50% of the total balance of the foreign account per violation

      p.small * The taxpayer may also be subject to criminal prosecution.