#fbar.container-fluid.bg-fbar
  .container
    .row
      .col-xs-6.content.left
        h1 FBAR
        h2 Report of Foreign Bank and Financial Accounts
        button.btn.btn-question Question?

      .col-xs-6.content.right
        p FBAR, or Report of Foreign Bank and Financial Accounts, is the name of a form that is used to disclose foreign financial accounts to the IRS. 
        p It must be filed electronically through FinCEN’s BSA E-Filing System by June 30th of every year.
        p Proper preparation is key to the FBAR filing because penalties associated with failure to comply with the reporting requirements can be significant.
