#home.container-fluid.section.hotfix
  #main-intro-wrap

    #main-intro-header
      h1 As a trusted U.S. law firm...
      h4 JC&amp;Company offers a full scope FBAR and FATCA services.

    #main-intro-bar

    #main-intro-slider.slider
      .slide.active: p Over the years, JC &amp; Company&rsquo;s international tax experts have successfully helped both U.S. and non-U.S. residents to avoid penalties and become tax compliant.
      .slide: p Our team of specialists focuses solely on international tax issues and is rapidly growing to be recognized as an industry leader.
      .slide: p Our main purpose is to bring value to our clients and we do so by providing quality service and ensuring a high standard of professional ethics.
      .slide: p Through detailed work and high-quality studies we will take the concern and pressure away from anyone dealing with FBAR and FATCA issues.
      .slide: p Our team of FBAR and FATCA experts put their personal and professional reputations on the excellence of their work.
      .slide: p Our high standards, services and specialized teams separate our outstanding performance from those of other firms.

      ul.slider-index
        li.active
        li
        li
        li
        li
        li
