nav
  .container
    a#logo.active(href="#home") JC &amp; Company
    ul.main-nav
      li: a(href="#intro") Intro
      li: a(href="#fbar") FBAR
      li: a(href="#fatca") FATCA
      li: a(href="#ovdp") OVDP
      li: a(href="#streamlined") Streamlined
      li: a(href="#disclosure") Quiet Disclosure