.top-bar
  .container
    a.right(href="jclawcpa.com") Go to JC&amp;Company

nav.top
  .container
    a#logo.active(href="#home", data-target="#home") JC &amp; Company
    #main-nav
      ul.nav
        li: a(href="#intro", data-target="#intro") Intro
        li: a(href="#fbar", data-target="#fbar") FBAR
        li: a(href="#fatca", data-target="#fatca") FATCA
        li: a(href="#ovdp", data-target="#ovdp") OVDP
        li: a(href="#streamlined", data-target="#streamlined") Streamlined
        li: a(href="#disclosure", data-target="#disclosure") Quiet Disclosure