#ovdp.container-fluid.bg-split-alt
  .container  
    .row
      .col-xs-6.content.left
        h1 OVDP
        h2 The Offshore Voluntary Disclosure Program
        button.btn.btn-question Question?

      .col-xs-6.content.right
        p The Offshore Voluntary Disclosure Program ("OVDP') is a federal income tax amnesty program designed to allow U.S. taxpayers to voluntarily disclose their foreign financial accounts so that <b class="strong">they can avoid criminal prosecution for not previously disclosing their overseas accounts.</b>

.container
  .row
    .col-xs-4
      h3 Who can apply for OVDP?
      p Any U.S. taxpayers with undisclosed foreign financial accounts are eligible to participate in the OVDP unless they are already being audited or their foreign accoutns were funded from illegal sources.

    .col-xs-4
      h3 Why should I participate in OVDP?
      p If you have failed to timely report foreign financial accounts, you should consider disclosing your overseas assets, become tax compliant, and avoid possible civil or criminal investigation.

    .col-xs-4
      h3 When is the deadline?
      p There is no set deadline for applying to the OVDP. However, the IRS could end the program or change its terms at any time.
      i.fa.fa-twitter 
      a(href="#") Follow us on Twitter and stay on top of the IRS changes!

.container-fluid.bg-split
  .container  
    .row
      .col-xs-6.content.left
        h3 Benefits of Disclosure:
        p The OVDP allows taxpayers to avoid civil penalties and limit the risk of audits and investigations, full FBAR penalties, and potential prosecution.

      .col-xs-6.content.right
        h3 Risks of Non-Disclosure:
        p If the IRS finds out about a taxpayer’s foreign account before he/she reports it, then the taxpayer’s accounts may be seized and criminally charged by the IRS.
