#intro.section.text-center
  ul.slider-index
    li
    li
    li
    li
    li
    li

  h1 Are you a U.S. taxpayer?
  h2 And do you own a foreign bank account?
  .separator
  p Yes, why do you ask?

  p You MUST disclose your foreign bank account by filing FBAR and FATCA to the IRS.
  p Not familiar with
  button.btn FBAR
  button.btn FATCA

  p NoNo, why does it matter?

  p If you haven’t already done so, you may be in bigger trouble than you can imagine. Failure to comply with the FBAR and FATCA requirements may result in significant civil and criminal penalties.
  p Legal ways to avoid penalties.
  button.btn OVDP
  button.btn Streamlined
  button.btn Quiet Disclosure