#streamlined.section
  .container-fluid.split-bg-color
    .container  
      .row
        .col-xs-6
          h1 Streamlined
          h2 The Streamlined Filing Compliance Procedures
          button.btn Contact Us

        .col-xs-6
          p The Streamlined Filing Compliance Procedures (“Streamlined”), another tax amnesty program offered by the IRS, is an alternative to OVDP. Streamlined presents a very attractive opportunity for taxpayers to be compliant with their tax duties and avoid possible IRS enforcement action.

  .container-fluid.split-bg-color-alt
    .container
      .row
        .col-xs-6
          h3 Who can apply for Streamlined?
          p Whether you are a U.S. resident or a non-U.S. resident, you are eligible to use the streamlined procedure as long as your failure to report foreign financial accounts was resulted from non-willful conduct.

        .col-xs-6
          h3 Why should I participate in Streamlined?
          p Failure to file and pay penalties may be imposed in accordance with the U.S. federal tax law. However, through Streamlined, you can avoid such penalties by paying fixed penalties:
          ul
            li U.S. residents are subject to a 5% miscellaneous offshore penalty on the previously undisclosed foreign accounts. 
            li All penalties for non-U.S. resident are FULLY waived.