#testimony.section
.quote 
  .quote-text Before I talked to JC&amp;Company, I didn’t even know what FBAR was. However, after working with JC for past few months, now I am all done with the filing process, and I no longer have to worry about penalties.
  .quote-attr Mr. Rosenberg, CA