!!! 5
html
  head
    title JC &amp; Company
    link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700", rel="stylesheet")
    link(href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")

  body
    include inc/nav
    include inc/home
    include inc/second-intro
    include inc/fbar
    include inc/fbar-second    
    include inc/fatca
    include inc/fatca-second           
    include inc/ovdp
    include inc/streamlined    
    include inc/disclosure
    include inc/contact

    footer
      .container 
        p JC&amp;Company LLP - A full scope audit, tax, and advisory services firm with serious Big 4 experience.
        p &copy; 2013 JC&amp;Company LLP. All rights reserved.

    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/velocity/0.7.0/jquery.velocity.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/velocity/0.7.0/velocity.ui.min.js")
    script(src="js/bootstrap.min.js")      
    script(src="js/scripts.js")