body
  -webkit-font-smoothing antialiased
  background             $blue-main
  color                  #fff
  font                   16px/1.5 "Source Sans Pro", "Arial", sans-serif
  font-weight            400
  position               relative


@media only screen and (min-width:1600px)
  .container
    width 1368px

.container-fluid
.container
  padding 0
