body
  -webkit-font-smoothing antialiased
  background             $blue-main
  color                  #fff
  font                   16px "Source Sans Pro", "Arial", sans-serif
  font-weight            400


.container
  width 980px

.container-fluid
  padding 0

.section
  &:before
    display    block
    content    ''
    height     75px
    margin-top 75px
