.btn
  display        inline-block
  background     #00172c
  border         1px solid #0075e1
  color          #0075e1
  padding        0 24px
  line-height    35px
  text-align     center
  user-select    none
  cursor         pointer
  vertical-align middle

  &:hover
    color        #fff
    background   $blue-main
    border-color #fff