.bg-dark
  background #001f3c
  padding    55px 0
  height     330px

.bg-split
  background url(../img/bg-split.png) repeat-y top center cover

.bg-split-alt
  background url(../img/bg-split-alt.png) repeat-y top center

.bg-fbar
  background url(../img/bg-fbar.jpg) top center no-repeat cover

.bg-fatca
  background url(../img/bg-fatca.jpg) top center no-repeat cover

.bg-disclosure
  background url(../img/bg-disclosure.jpg) top center no-repeat cover

.content
  padding 40px 0 50px 0
  &.left
    padding-right 44px
  &.right
    padding-left 44px

  #fatca &
    padding-top 80px
  #fbar &
    padding-top 60px
  #ovdp &
    padding-top    80px
    padding-bottom 80px


.section
  clear both
  clearfix()

  &:before
    content    ''
    display    block
    height     75px