#contact h1
  margin-bottom 28px

.contact-info
  h3
  p
    color $blue-text

  h4
    color         #fff
    font-weight   700
    font-size     18px
    float         left
    margin-bottom 18px

.locations-list
  list-style    none
  margin        0 0 28px
  padding       35px 0 0
  border-top    1px solid $blue-gray
  border-bottom 1px solid $blue-gray

  li
    clear         both
    margin-bottom 38px

  p
    color       #fff
    clear       both
    line-height 1

.social-list
  list-style none
  margin     0
  padding    0

  li
    display      inline-block
    margin-right 20px

  a
  i
    color      $blue-text
    font-size  28px
    transition color 0.2s ease-in

    &:hover
      color #fff


.view-map
  color         $blue-text
  float         right
  background    url(../img/view-link.png) no-repeat 100% 3px
  padding-right 18px
  display       block
  font-size     14px

  &:hover
    color $blue-text

.form-group
  margin-bottom 20px

.form-control
  background    #76a6d4
  border-radius 0
  border-color  #001120
  height        36px
  font-size     18px
  color         #fff
  box-shadow inset 0 0 3px #535353

  &:focus
    border-color #a9d6ff
    outline      none
    box-shadow   none

  &.error
    border-color #0083fc

.control-label
  font-size  18px
  text-align left !important

textarea.form-control
  height 290px