/* Second Intro */
#intro
  padding    120px 0
  text-align center
  height     638px

  h1
    font-size     45px
    margin-bottom 10px
  h2
    font-size     28px
    font-weight   400
    margin-bottom 24px
  h3 
    font-size     22px
    margin-bottom 18px

.divide
  background url(../img/divide.png) no-repeat center top
  width      752px
  height     20px
  margin     0 auto 18px