.top-bar
  height      30px
  line-height 30px
  a
    color #fff
    float right

#logo
  background  url(../img/logo.png) no-repeat
  width       194px
  height      39px
  display     block
  text-indent -9999px
  float       left
  margin      18px 0 0

  &.active
  &:hover
    background-position 0 100%

nav
  background $blue-dark
  height     75px
  transition background 0.2s ease-in-out
  position   fixed
  top        0
  left       0
  right      0
  z-index    10
  transition top 0.4s ease-out

  &.top
    top 30px

#main-nav
  float  right
  margin 28px 0 0 

  & > .nav
    margin  0
    padding 0

    & > li
      display      inline-block
      margin-right 40px

      &:last-child
        margin-right 0

      & > a
        color           $blue-gray
        text-transform  uppercase
        text-decoration none

      &:hover
      &.active
        & > a
          color       #fff
      &.active
        & > a
          font-weight 700          

