.slider
  position relative

.slide
  position absolute
  opacity  0
  transition opacity 0.8s

  &.active
    opacity 1
    z-index 10

  #intro-slider &
    p
      max-width 600px
      margin    0 auto 18px

      &.strong
        margin-bottom 8px
        color         #fff

.slide-wrap
  position  relative
  width     752px
  margin    0 auto
  top       22%
  transform translateY(-22%)

.slide-next
  font-size   64px
  cursor      pointer
  user-select none
  display     block
  margin-top  12px

.slider-index
  margin  0 0 28px
  padding 0

  & > li
    background   #002344
    cursor       pointer
    display      inline-block
    height       8px
    margin-right 11px
    width        45px

    &:hover
    &.active
      background #fff

    #main-intro-slider > &
      margin-top 90px
