.slider
  position relative

.slide
  position absolute
  opacity  0
  transition opacity 0.8s

  &.active
    opacity 1

  #intro-slider &
    p
      max-width 540px
      margin    0 auto
      color     $blue-gray

.slide-wrap
  position relative
  width    760px
  margin   0 auto
  top      240px
        
.slider-index

  & > li
    background   #002344
    cursor       pointer
    display      inline-block
    height       8px
    margin-right 11px
    width        45px

    &:hover
    &.active
      background #fff

    #main-intro-slider > &
      margin-top 90px