.slider
  position relative

.slide
  position absolute
  opacity  0
  transition opacity 0.8s

  &.active
    opacity 1

  #intro-slider &
    width       760px
    left        50%
    margin-left -(@width/2)
    padding-top 30px

    p
      max-width 540px
      margin    0 auto
      color     $blue-gray

.slider-index

  & > li
    background   #002344
    cursor       pointer
    display      inline-block
    height       8px
    margin-right 11px
    width        45px

    &:hover
    &.active
      background #fff

    #main-intro-slider > &
      margin-top 90px