$blue-main      = #004e96
$blue-dark      = #00274b
$blue-text      = #0083fc
$blue-gray      = #6b94bb
$blue-main-dark = #003669

@import 'base'
@import 'type'
@import 'nav'
@import 'home'
@import 'intro'
@import 'slider'
@import 'button'