h1
h2
h3
  font-weight 700
  margin      0

.mb10
  margin-bottom 8px
.mb20
  margin-bottom 18px
.mb30
  margin-bottom 28px
.mb40
  margin-bottom 38px

.list
  list-style-image url(../img/bullet.png)
  margin           0 
  padding          0 0 0 1.2em

  & li
    margin-bottom 12px

.small
  color      #9b9b9b
  font-size  14px
  font-style italic

.strong
  color       #2a97ff
  font-weight bold

#fbar
#fatca
#ovdp
#streamlined
#disclosure
#contact
  h1 
    font-size     72px
    margin-bottom 12px
  h2
    font-size     18px
    padding-left  12px
    border-left   3px solid #fff
    margin-bottom 18px
  h3
    font-size     24px
